.DS_Store
.bash_history
.pgpass
.psql_history
.config
.ssh

backups/*
!backups/.gitkeep

config/dev*.conf
config/dev*.mas

mnt/*/archive/*
!mnt/*/archive/.gitkeep
mnt/*/public/*
!mnt/*/public/.gitkeep
mnt/*/submissions/*
!mnt/*/submissions/.gitkeep
mnt/*/tmp/*
!mnt/*/tmp/.gitkeep
mnt/blast_databases/*/*
!mnt/blast_databases/*/.gitkeep

postgresql/data

repos