.DS_Store

mnt/avena/archive/*
!mnt/avena/archive/.gitkeep
mnt/avena/public/*
!mnt/avena/public/.gitkeep
mnt/avena/submissions/*
!mnt/avena/submissions/.gitkeep

!mnt/hordeum/archive/.gitkeep
mnt/hordeum/public/*
!mnt/hordeum/public/.gitkeep
mnt/hordeum/submissions/*
!mnt/hordeum/submissions/.gitkeep

!mnt/triticum/archive/.gitkeep
mnt/triticum/public/*
!mnt/triticum/public/.gitkeep
mnt/triticum/submissions/*
!mnt/triticum/submissions/.gitkeep

postgresql/data

repos